In [1]:
import pandas as pd

path = "./Datasets/"
general_data_merged = pd.read_csv(path +"general_data_merged.csv")
general_data_merged

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating,AttendanceScore
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,6,1,0,0,3.0,4.0,2.0,3,3,0 days 07:22:25.142241379
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,3,5,1,4,3.0,2.0,4.0,2,4,0 days 07:43:08.288135593
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,2,5,0,3,2.0,2.0,1.0,3,3,0 days 07:00:47.665289256
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,5,8,7,5,4.0,4.0,3.0,2,3,0 days 07:11:37.242553191
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,2,6,0,4,4.0,1.0,3.0,3,3,0 days 08:00:22.228571428
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,5,3,0,2,4.0,1.0,3.0,3,3,0 days 08:31:20.197530864
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2,3,0,2,4.0,4.0,3.0,2,3,0 days 06:05:34.634854771
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,4,4,1,2,1.0,3.0,3.0,3,4,0 days 07:42:23.874458874
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,2,9,7,8,4.0,1.0,3.0,2,3,0 days 09:29:33.340248962
4409,40,No,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,6,21,3,9,1.0,3.0,NaN,4,3,0 days 06:59:20.211206896

In [2]:
#Dans une optique éthique, on retire les données sensibles : Age, Gender, MaritalStatus et Over18
general_data_merged.drop(["Age", "Gender", "MaritalStatus", "Over18"], axis=1, inplace=True)
general_data_merged

,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,JobLevel,JobRole,...,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating,AttendanceScore
0,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,1,Healthcare Representative,...,6,1,0,0,3.0,4.0,2.0,3,3,0 days 07:22:25.142241379
1,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,1,Research Scientist,...,3,5,1,4,3.0,2.0,4.0,2,4,0 days 07:43:08.288135593
2,No,Travel_Frequently,Research & Development,17,4,Other,1,3,4,Sales Executive,...,2,5,0,3,2.0,2.0,1.0,3,3,0 days 07:00:47.665289256
3,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,3,Human Resources,...,5,8,7,5,4.0,4.0,3.0,2,3,0 days 07:11:37.242553191
4,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,1,Sales Executive,...,2,6,0,4,4.0,1.0,3.0,3,3,0 days 08:00:22.228571428
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,1,Research Scientist,...,5,3,0,2,4.0,1.0,3.0,3,3,0 days 08:31:20.197530864
4406,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,1,Laboratory Technician,...,2,3,0,2,4.0,4.0,3.0,2,3,0 days 06:05:34.634854771
4407,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,2,Sales Executive,...,4,4,1,2,1.0,3.0,3.0,3,4,0 days 07:42:23.874458874
4408,No,Travel_Rarely,Sales,18,2,Medical,1,4409,1,Laboratory Technician,...,2,9,7,8,4.0,1.0,3.0,2,3,0 days 09:29:33.340248962
4409,No,Travel_Rarely,Research & Development,28,3,Medical,1,4410,2,Laboratory Technician,...,6,21,3,9,1.0,3.0,NaN,4,3,0 days 06:59:20.211206896

In [3]:
#On remplace les valeurs inexistantes par la valeur medianne de chaque colonne présentant des manques

#tableau des noms de colonnes présentant des valeurs manquantes
columns_to_fill = ["NumCompaniesWorked", "EnvironmentSatisfaction", "JobSatisfaction", "WorkLifeBalance", "TotalWorkingYears"]

for column in columns_to_fill: #pour chaque colonne
    median = general_data_merged[column].median() #on trouve sa médianne
    general_data_merged[column].fillna(median, inplace=True)#on remplace la valeur manquante par la médianne

general_data_merged

,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,JobLevel,JobRole,...,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating,AttendanceScore
0,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,1,Healthcare Representative,...,6,1,0,0,3.0,4.0,2.0,3,3,0 days 07:22:25.142241379
1,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,1,Research Scientist,...,3,5,1,4,3.0,2.0,4.0,2,4,0 days 07:43:08.288135593
2,No,Travel_Frequently,Research & Development,17,4,Other,1,3,4,Sales Executive,...,2,5,0,3,2.0,2.0,1.0,3,3,0 days 07:00:47.665289256
3,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,3,Human Resources,...,5,8,7,5,4.0,4.0,3.0,2,3,0 days 07:11:37.242553191
4,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,1,Sales Executive,...,2,6,0,4,4.0,1.0,3.0,3,3,0 days 08:00:22.228571428
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,1,Research Scientist,...,5,3,0,2,4.0,1.0,3.0,3,3,0 days 08:31:20.197530864
4406,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,1,Laboratory Technician,...,2,3,0,2,4.0,4.0,3.0,2,3,0 days 06:05:34.634854771
4407,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,2,Sales Executive,...,4,4,1,2,1.0,3.0,3.0,3,4,0 days 07:42:23.874458874
4408,No,Travel_Rarely,Sales,18,2,Medical,1,4409,1,Laboratory Technician,...,2,9,7,8,4.0,1.0,3.0,2,3,0 days 09:29:33.340248962
4409,No,Travel_Rarely,Research & Development,28,3,Medical,1,4410,2,Laboratory Technician,...,6,21,3,9,1.0,3.0,3.0,4,3,0 days 06:59:20.211206896

In [4]:
#on remplace les valeurs non numérique par des valeurs numériques : Attrition et BusinessTravel
from sklearn.preprocessing import OrdinalEncoder

# Créer un dictionnaire de mappage pour BusinessTravel
business_travel_mapping = {
    'Non-Travel': 0,
    'Travel_Rarely': 1,
    'Travel_Frequently': 2
}

# Appliquer le mappage à la colonne 'BusinessTravel'
general_data_merged['BusinessTravel'] = general_data_merged['BusinessTravel'].map(business_travel_mapping)

# Créer un encodeur ordinal
ordinal_encoder = OrdinalEncoder()

# Liste des colonnes à encoder
columns_to_encode = ['BusinessTravel', 'Attrition']

# Ajuster l'encodeur pour les colonnes spécifiques
general_data_merged[columns_to_encode] = ordinal_encoder.fit_transform(general_data_merged[columns_to_encode])

general_data_merged

,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,JobLevel,JobRole,...,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating,AttendanceScore
0,0.0,1.0,Sales,6,2,Life Sciences,1,1,1,Healthcare Representative,...,6,1,0,0,3.0,4.0,2.0,3,3,0 days 07:22:25.142241379
1,1.0,2.0,Research & Development,10,1,Life Sciences,1,2,1,Research Scientist,...,3,5,1,4,3.0,2.0,4.0,2,4,0 days 07:43:08.288135593
2,0.0,2.0,Research & Development,17,4,Other,1,3,4,Sales Executive,...,2,5,0,3,2.0,2.0,1.0,3,3,0 days 07:00:47.665289256
3,0.0,0.0,Research & Development,2,5,Life Sciences,1,4,3,Human Resources,...,5,8,7,5,4.0,4.0,3.0,2,3,0 days 07:11:37.242553191
4,0.0,1.0,Research & Development,10,1,Medical,1,5,1,Sales Executive,...,2,6,0,4,4.0,1.0,3.0,3,3,0 days 08:00:22.228571428
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,0.0,1.0,Research & Development,5,4,Medical,1,4406,1,Research Scientist,...,5,3,0,2,4.0,1.0,3.0,3,3,0 days 08:31:20.197530864
4406,0.0,1.0,Research & Development,2,4,Medical,1,4407,1,Laboratory Technician,...,2,3,0,2,4.0,4.0,3.0,2,3,0 days 06:05:34.634854771
4407,0.0,1.0,Research & Development,25,2,Life Sciences,1,4408,2,Sales Executive,...,4,4,1,2,1.0,3.0,3.0,3,4,0 days 07:42:23.874458874
4408,0.0,1.0,Sales,18,2,Medical,1,4409,1,Laboratory Technician,...,2,9,7,8,4.0,1.0,3.0,2,3,0 days 09:29:33.340248962
4409,0.0,1.0,Research & Development,28,3,Medical,1,4410,2,Laboratory Technician,...,6,21,3,9,1.0,3.0,3.0,4,3,0 days 06:59:20.211206896